<section class="mt-4">
  <h3 class="h4">
    Articolul 6
  </h3>
  <p>
    În situația în care operatorul platformei digitale este o persoană juridică nerezidentă, acesta este obligat să aibă pe toată perioada în care își desfășoară activitatea de intermediere a transportului alternativ pe teritoriul României o filială înregistrată la Oficiul Național al Registrului Comerțului, prin care se derulează activitățile comerciale în România.
    <br>
    (la 10-11-2019, Articolul 6 din Capitolul II a fost modificat de Punctul 1, ARTICOLUL UNIC din LEGEA nr. 204 din 7 noiembrie 2019, publicată în MONITORUL OFICIAL nr. 901 din 07 noiembrie 2019)
  </p>
</section>
