<!-- <header class="header position-relative text-white u-titillium-web-regular">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-xl-6 pt-6 pt-sm-6 pt-md-6 pt-xl-8 d-flex justify-content-center">
        <section class="text-center u-titillium-web-regular">
          <div class="">
          <h1 class="d-flex justify-content-center align-items-center flex-column text-uppercase mb-5 animated-heading">
            Firma
            <span class="h3">
              autorizata arr
            </span>
            <span class="h3">
              pentru transport alternativ
            </span>
          </h1>
          </div>
        </section>
      </div>
      <div class="col-lg-6 d-none d-xl-block pt-7 pt-sm-7 pt-md-7 pt-lg-9 mt-5">
        <section class="text-center">
          <div class="mb-4">
            <h2 class="mb-n1 animated-cta-heading">
              Alatura-te echipei noastre
            </h2>
            <p class="border-bottom d-inline pb-1 animated-cta-text">
              Fa parte dintr-o echipa prietenoasa si primitoare
            </p>
          </div>
          <menu class="list-unstyled d-flex justify-content-center align-items-center animated-cta-menu">
            <li class="me-4 u-roboto-regular">
              <a 
                class="btn btn-light fw-medium btn-hover btn-active" 
                routerLink="information/how-to-become-a-driver">Cum devin partener
              </a>
            </li>
            <li class="u-roboto-regular">
              <a
                class="btn btn-secondary border-0 text-bg-primary fw-medium btn-hover btn-active"
                routerLink="contact">Sunt interesat
              </a>
            </li>
          </menu>
        </section>
      </div>
    </div>
  </div>
</header> -->



  <header class="d-flex align-items-center justify-content-around hero-bg text-white u-titillium-web-regular">
    <section>
      <h1 class="d-flex flex-column justify-content-center align-items-center text-center">
        Firma
        <span class="h2">
          Autorizata ARR
        </span>
        <span class="h2">
          pentru transport alternativ
        </span>
      </h1>
    </section>
    <section class="d-none d-xl-block">
      <div class="text-center">
      <h2 class="mb-n1">
        Alatura-te echipei noastre
      </h2>
      <p class="border-bottom d-inline pb-1">
        Fa parte dintr-o echipa prietenoasa si primitoare
      </p>
      <menu class="list-unstyled d-flex justify-content-center align-items-center">
        <li class="me-4">
          <a
            class="btn btn-light btn-hover btn-active border-0 u-roboto-regular" 
            routerLink="information/how-to-become-a-driver">Cum devin partener
          </a>
        </li>
        <li>
          <a
            class="btn btn-secondary border-0 text-bg-primary btn-hover btn-active u-roboto-regular"
            routerLink="contact">Sunt interesat
        </a>
        </li>
      </menu>
    </div>
    </section>
  </header>

