<header class="header position-relative text-white">
  <!-- <img class="img-fluid position-absolute z-n1 d-none d-sm-block" src="assets/images/hero-dark-5616x3744.jpg" alt=""> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-xl-6 pt-7 pt-sm-7 pt-md-7 pt-xl-10 d-flex justify-content-center">
        <section class="text-center">
          <h1 class="text-uppercase mb-5 animated-heading">
            Logane
          </h1>
          <div class="text-container mt-n4">
            <p class="display-7 fw-medium animated-text-1 mt-n2 u-letter-spacing-2">
              Servicii top
            </p>
            <p class="display-7 fw-medium animated-text-2 mt-n2 u-letter-spacing-2">
              Cele mai bune masini
            </p>
            <p class="display-7 fw-medium animated-text-3 mt-n2 u-letter-spacing-2">
              Oameni capabili
            </p>
          </div>
        </section>
      </div>
      <div class="col-lg-6 d-none d-xl-block pt-7 pt-sm-7 pt-md-7 pt-lg-12">
        <section class="text-center">
          <div class="mb-4">
            <h2 class="mb-n1 animated-cta-heading">
              Alatura-te echipei noastre
            </h2>
            <p class="border-bottom d-inline pb-1 animated-cta-text">
              Fa parte dintr-o echipa prietenoasa si primitoare
            </p>
          </div>
          <menu class="list-unstyled d-flex justify-content-center align-items-center animated-cta-menu">
            <li class="me-4">
              <a class="btn btn-light fw-medium btn-hover btn-active" href="#">Cum devin partener</a>
            </li>
            <li>
              <a class="btn btn-secondary border-0 text-bg-primary fw-medium btn-hover btn-active" href="#">Sunt interesat</a>
            </li>
          </menu>
        </section>
      </div>
    </div>
  </div>
</header>
