<header class="d-flex align-items-center justify-content-around hero-bg text-white u-titillium-web-regular">
  <section>
    <h1 class="d-flex flex-column justify-content-center align-items-center text-center">
      Firma
      <span class="h2">
        Autorizata ARR
      </span>
      <span class="h2">
        pentru transport alternativ
      </span>
    </h1>
  </section>
  <section class="d-none d-xl-block">
    <div class="text-center">
    <h2 class="mb-n1">
      Alatura-te echipei noastre
    </h2>
    <p class="border-bottom d-inline pb-1">
      Fa parte dintr-o echipa prietenoasa si primitoare
    </p>
    <menu class="list-unstyled d-flex justify-content-center align-items-center">
      <li class="me-4">
        <a
          class="btn btn-light btn-hover btn-active border-0 u-roboto-regular" 
          routerLink="informatii/cum-devin-sofer">Cum devin partener
        </a>
      </li>
      <li>
        <a
          class="btn btn-secondary border-0 text-bg-primary btn-hover btn-active u-roboto-regular"
          routerLink="contact">Sunt interesat
      </a>
      </li>
    </menu>
  </div>
  </section>
</header>

