<article>
  <div>
    <div class="information-bg d-flex justify-content-center align-items-center text-center text-white">
      <h1 class="h2 pt-lg-5 pb-lg-5 pt-2 pb-2">
        Venituri si cheltuieli sofer
      </h1>
    </div>
  
    <p class="h4 u-letter-spacing-1 text-center mt-4">
      Veniturile variază în funcție de timpul muncit. Dacă mai aveți un job, contractul se va putea face part-time (4h).
    </p>
  
    <h2 class="h3 pe-2 ps-2 pe-md-6 ps-md-6 pe-xl-9 ps-xl-9 mt-5">
      Cheltuielile includ:
    </h2>

    <div class="pe-4 ps-4 pe-md-6 ps-md-6 pe-xl-10 ps-xl-10 mt-4 display-8 u-letter-spacing-1">
      <ul class="list-unstyled">
        <li>
          Chiria săptămânală a mașinii (dacă este cazul)
        </li>
        <li>
          Taxă lunară de administrare cont: x
          <p>
            Taxa include  toate serviciile operaționale (contabilitate, casă de marcat, ecusoane, adeverințe salariat, protecția muncii, comisioane plați)
          </p>
        </li>
      </ul>
    </div>


    <div>
      <p>Ce oferim?</p>
      <p>Asigurăm suport tehnic și asistență în desfășurarea activității pentru a facilita procesele de afaceri.</p>
      <p>Oferim suport HR pentru angajați, inclusiv gestionarea cererilor de concediu și a adeverințelor.</p>
      <p>Facem plata săptămânală a încasărilor în contul personal al fiecărui membru al echipei.</p>
      <p>Ne ocupăm de contabilitatea facturilor emise de aplicație.</p>
      <p>Gestionăm contabilitatea bonurilor de consum.</p>
      <p>Generăm situații centralizatoare pentru o mai bună monitorizare a activității.</p>
      <p>Asigurăm servicii de medicină muncii și protecția muncii.</p>
      <p>Oferim eliberarea gratuită a copiilor conforme și a ecusoanelor necesare.</p>
      <p>Punem la dispoziție case de marcat portabile fără costuri suplimentare.</p>
      <p>Ne ocupăm de raportarea lunară către ANAF.</p>
      <p>Oferim asistență în completarea Declarației Unice anuale.</p>
      <p>Asigurăm cadrul legal pentru desfășurarea activității.</p>
    </div>

    
  
  </div>
</article>

