<article class="pe-8 ps-8 d-flex flex-column align-items-start justify-content-center mt-5 u-letter-spacing-1 display-8">
  <h2 class="h3 lh-base border-bottom border-secondary d-inline">
    Capitolul II - Avizarea platformei digitale prin care se intermediază efectuarea transportului alternativ
  </h2>
  <app-art-4></app-art-4>
  <app-art-5></app-art-5>
  <app-art-6></app-art-6>
  <app-art-7></app-art-7>
  <app-art-8></app-art-8>
  <app-art-9></app-art-9>
  <app-art-10></app-art-10>
</article>
