<section class="mt-5 me-3 ms-3 mb-4">
  <h2 class="text-center">
    Cum puteti lua legatura cu noi
  </h2>
  <address class="mt-5">
    <ul class="list-unstyled row text-center">
      <li class="col-12 col-xl-6 mb-4 display-8 u-letter-spacing-1">
        <app-contact-tel></app-contact-tel>
      </li>
      <li class="col-12 col-xl-6 mb-2 display-8 u-letter-spacing-1">
        <app-contact-email></app-contact-email>
      </li>
    </ul>
  </address>
  <p class="display-8 u-letter-spacing-1 text-center pe-2 ps-2 pe-md-6 ps-md-6 pe-lg-10 ps-lg-10">
    Alătură-te echipei noastre și începe să câștigi bani în timp ce conduci! Contactează-ne astăzi pentru mai multe informații și pentru a discuta despre cum te putem ajuta să îți îndeplinești obiectivele tale profesionale.
  </p>
</section>
