<section class="mt-4">
  <h3 class="h4">
    Articolul 13
  </h3>
  <figure>
    <figcaption class="mb-2">
      (1) Pentru fiecare autoturism deținut în proprietate, închiriere, comodat, contract de leasing și utilizat în vederea efectuării transportului alternativ, agenția teritorială a Autorității Rutiere Române - A.R.R., emitentă a autorizației de transport alternativ, eliberează operatorului de transport alternativ, în termen de 15 zile lucrătoare de la înregistrarea cererii, câte o copie conformă a acesteia, după depunerea următoarelor documente, în copie:
    </figcaption>
    <ul class="list-unstyled card">
      <div
        class="list-group list-group-flush"
        *ngFor="let item of art13Auth">
        <div class="list-group-item">
          <span class="text-secondary">
            {{ item.letter }}
          </span>
          <li>
            {{ item.text }}
          </li>
        </div>
      </div>
    </ul>
  </figure>
  <p>
    (2) Copia conformă a autorizației pentru transportul alternativ se eliberează operatorului de transport alternativ autorizat numai pentru autoturismele deținute în proprietate, închiriere sau comodat.
    <br>
    <br>
    (la 10-11-2019, Alineatul (2) din Articolul 13 , Capitolul III a fost modificat de Punctul 3, ARTICOLUL UNIC din LEGEA nr. 204 din 7 noiembrie 2019, publicată în MONITORUL OFICIAL nr. 901 din 07 noiembrie 2019 )
  </p>
  <p>
    (3) Pentru autoturismele deținute în temeiul unui contract de leasing de către operatorul de transport alternativ autorizat, copia conformă a autorizației pentru transportul alternativ se eliberează indiferent unde sunt înmatriculate acestea.
  </p>
  <figure>
    <figcaption>
      (4) Operatorul de transport alternativ are dreptul să efectueze transport alternativ cu autoturismul pentru care s-a emis copia conformă a autorizației pentru transportul alternativ:
    </figcaption>
    <ul class="list-unstyled card">
      <div
        class="list-group list-group-flush"
        *ngFor="let item of art13Rights">
        <div class="list-group-item">
          <span class="text-secondary">
            {{ item.letter }}
          </span>
          <li>
            {{ item.text }}
          </li>
        </div>
      </div>
    </ul>
  </figure>
  <p>
    (5) Copia conformă a autorizației pentru transportul alternativ se eliberează, conform cererii operatorului de transport alternativ, pentru o perioadă de 1 an, 2 ani sau 3 ani, fără a depăși perioada de valabilitate a autorizației de transport alternativ, numai pentru autoturismele care au la data expirării valabilității copiei conforme mai puțin de 15 ani vechime de la data fabricației.
  </p>
  <p>
    (6) În ultimul an de valabilitate al autorizației pentru transportul alternativ, copia conformă se poate elibera pentru o perioadă mai mică de un an fără a depăși valabilitatea autorizației respective.
  </p>
  <p>
    (7) Copia conformă a autorizației pentru transportul alternativ se eliberează după achitarea de către operatorul de transport alternativ a unui tarif de 100 lei pentru fiecare an/fracție de an corespunzător perioadei de valabilitate a acesteia, achitat în contul agenției teritoriale a Autorității Rutiere Române - ARR.
  </p>
  <p>
    (8) Copia conformă a autorizației pentru transportul alternativ este netransmisibilă de la un operator de transport alternativ la alt operator de transport alternativ, precum și de la un autoturism la altul.
  </p>
  <figure>
    <figcaption class="mb-2">
      (9) Operatorul de transport alternativ autorizat poate să își înlocuiască, la cerere, autoturismul deținut în condițiile prezentei ordonanțe de urgență, pentru care a obținut o copie conformă a autorizației, cu alt autoturism deținut în aceleași condiții, în următoarele cazuri:
    </figcaption>
    <ul class="list-unstyled card">
      <div
        class="list-group list-group-flush"
        *ngFor="let item of art13Replace">
        <div class="list-group-item">
          <span class="text-secondary">
            {{ item.letter }}
          </span>
          <li>
            {{ item.text }}
          </li>
        </div>
      </div>
    </ul>
  </figure>
  <p>
    (10) Pe baza cererii de înlocuire prevăzute la alin. (9), autoritatea de autorizare va elibera o nouă copie conformă a autorizației de transport alternativ, cu respectarea prevederilor privind vechimea autoturismului, stabilite la alin. (5).
  </p>
</section>