.card-info {
  width: auto !important;
  height: auto !important;

  @include media-breakpoint-up(sm) {
    width: 516px !important;
  }

  @include media-breakpoint-up(lg) {
    height: 250px !important;
  }

  @include media-breakpoint-up(xl) {
    height: 200px !important;
  }
}

.card-about {
  width: auto !important;
  height: auto !important;

  @include media-breakpoint-up(sm) {
    width: 575px !important;
  }

  @include media-breakpoint-up(md) {
    width: 700px !important;
  }
}



