$link-hover-color: $secondary;

.btn-link-nav {
  @include bgUnderline($secondary);

  &:hover,
  &:active {
    @include bgUnderlineHover();
  }
}

.btn-link-footer {
  @include bgUnderline($tertiary);

  &:hover {
    @include bgUnderlineHover();
  }
}

.dropdown-menu-link {
  background-image: linear-gradient(to bottom right, $primary, $secondary) !important;
  background-repeat: no-repeat !important;
  background-size: 0% !important;

  &:hover,
  &:focus {
    color: #fff !important;
    background-size: 100% !important; 
  }
}
