<div class="contact-bg">
  <section class="pe-2 ps-2 pe-lg-7 ps-lg-7">
    <header class="text-white text-center text-lg-start d-flex align-items-center flex-column align-items-lg-start">
      <h1 class="h2">
        Contact
      </h1>
      <p class="u-letter-spacing-1 fw-medium display-8 mt-n3">
        Haide sa vorbim despre cat de repede si usor poti castiga cu noi
      </p>
    </header>
  </section>
</div>


<div class="mt-lg-n7 d-flex flex-column flex-lg-row justify-content-center align-items-center align-items-lg-start ps-lg-4 pe-lg-4 ps-xl-6 pe-xl-6">
  <div class="container-fluid">
    <section class="">
      <div class="container-fluid">
        <div class="bg-white p-sm-3 p-md-4">
          <h2 class="text-center text-md-start h3 mt-2 mb-4 mb-lg-4">Trimiteti un email</h2>
          <app-form></app-form>
        </div>
      </div>
    </section>
  </div>

  <section class="mt-5 mt-lg-0 bg-white">
    <app-contact-tel></app-contact-tel>
    <address class="u-letter-spacing-1 fw-medium display-8">
      <hr>
      <div class="row">
        <div class="col-6 contact-email d-flex justify-content-center align-items-center gap-2">
          <img src="assets/svg/contact-mail.svg">
          CPM@contact.com
        </div>
        <div class="col-6 contact-location d-flex justify-content-center align-items-center gap-2">
          <img src="assets/svg/location.svg">
          Strada Gheorghe, nr 22-35
        </div>
        <div class="mt-4 col-12 d-flex justify-content-center align-items-center gap-2">
          <img src="assets/svg/time.svg">
          9:00 - 18:00
        </div>
      </div>
    </address>
  </section>
</div>

<!-- <section class="mb-6">
  <div class="mt-3 mb-3">
    <h1 class="h2 text-center">Variantele de contact</h1>
  </div>
  <div class="d-flex flex-xxl-row flex-column gap-6 gap-xxl-10 gap-lg-6 align-items-center justify-content-center">
    <div class="form-width w-100">
      <app-form></app-form>
    </div>
    <div class="text-center u-letter-spacing-1 display-8 fw-normal">
      <app-contact-tel></app-contact-tel>
    </div>
  </div>
</section> -->
