<article class="container-fluid">
  <div class="visually-hidden">
    <h1 class="h2 text-center">
      Informatii utile
    </h1>
  </div>
  <article class="text-center mb-6 mt-4">
    <h2 class="border-bottom border-secondary d-inline">Informatii generale</h2>
    <app-info-home-general-info></app-info-home-general-info>
  </article>
  <article class="text-center mb-6">
    <h2 class="border-bottom border-secondary d-inline">Informatii legale</h2>
    <app-info-home-legal-info></app-info-home-legal-info>
  </article>
  <article class="text-center mb-6">
    <h2 class="border-bottom border-secondary d-inline">Parteneri</h2>
    <app-info-home-partners></app-info-home-partners>
  </article>
</article>

