<section class="mt-4">
  <h3 class="h4">
    Articolul 16
  </h3>
  <p>
    (1) Copia conformă a autorizației de transport alternativ se suspendă sau se retrage de către autoritatea de autorizare emitentă.
  </p>
  <figure>
    <figcaption class="mb-2">
      (2) Copia conformă a autorizației de transport alternativ se suspendă, pe o durată de 1-3 luni, în următoarele cazuri:
    </figcaption>
    <ul class="list-unstyled card">
      <div
        class="list-group list-group-flush"
        *ngFor="let item of art16Suspend">
        <div class="list-group-item">
          <span class="text-secondary">
            {{ item.letter }}
          </span>
          <li>
            {{ item.text }}
          </li>
        </div>
      </div>
    </ul>
  </figure>
  <figure>
    <figcaption class="mb-2">
      (3) Copia conformă a autorizației de transport alternativ se retrage în următoarele cazuri:
    </figcaption>
    <ul class="list-unstyled card">
      <div
        class="list-group list-group-flush"
        *ngFor="let item of art16Wd">
        <div class="list-group-item">
          <span class="text-secondary">
            {{ item.letter }}
          </span>
          <li>
            {{ item.text }}
          </li>
        </div>
      </div>
    </ul>
  </figure>
  <p>
    (4) Decizia Autorității Rutiere Române - A.R.R. de retragere a autorizației de transport alternativ sau de retragere/suspendare a copiei conforme a acesteia poate fi contestată la instanțele judecătorești competente, potrivit Legii contenciosului administrativ nr. 554/2004, cu modificările și completările ulterioare, de către operatorul de transport alternativ, în termen de 30 de zile de la data comunicării acesteia.
  </p>
  <p>
    (5) În cazul în care operatorului de transport alternativ i s-a retras autorizația de transport alternativ, acesta poate solicita o nouă autorizare după o perioadă de 6 luni.
  </p>
  <p>
    (6) În cazul în care operatorului de transport alternativ i s-a retras copia conformă a autorizației de transport alternativ, conform alin. (3) lit. A-D, lit. E și G, acesta poate solicita eliberarea unei noi copii conforme pentru autoturismul respectiv după o perioadă de 6 luni
  </p>
</section>
