<section>
  <div class="pe-2 ps-2 pe-md-6 ps-md-6 pe-xl-9 ps-xl-9 mt-5">
    <h2 class="h3 lh-base border-bottom border-secondary d-inline">
      Casa de Marcat Fiscalizată
    </h2>
  </div>
  <div class="pe-4 ps-4 pe-md-6 ps-md-6 pe-xl-10 ps-xl-10 mt-5 display-8 u-letter-spacing-1">
    <p>
      <span class="text-primary">GRATUIT</span> la masinile noastre. Aceasta este propietatea noastră iar șoferul are obligația de a o preda odata cu mașina în cazul întreruperii contractului de muncă.
    </p>
    <p>
      Șoferii cu mașină personală care nu au o Casa de Marcat Fiscalizată vor achita valoarea acesteia. Casa de marcat va rămâne propietatea șoferului.
    </p>
  </div>
</section>