<section class="mt-4">
  <h3 class="h4">
    Articolul 30
  </h3>
  <p>
    (1) Constituie contravenție, dacă potrivit legii penale fapta nu constituie infracțiune, și se sancționează cu amendă de la 5.000 lei la 15.000 lei nerespectarea de către operatorul platformei digitale a obligațiilor prevăzute la art. 25 lit. F, K, L sau R.
  </p>
  <p>
    (2) Constituie contravenție, dacă potrivit legii penale fapta nu constituie infracțiune, și se sancționează cu amendă de la 10.000 lei la 30.000 lei intermedierea transportului alternativ de către operatorul platformei digitale prin acceptarea și acordarea accesului la platforma digitală al unui autoturism pentru care nu s-a eliberat copie conformă a autorizației de transport alternativ sau aceasta are valabilitatea depășită.
  </p>
</section>
