// Keyframes =============================================

@keyframes bounce {
  0% {
    transform: translateY(0)
  }

  50% {
    transform: translateY(1.80rem);
  }

  100% {
    transform: translateY(0);
  }
};

@keyframes arrow {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
};

@keyframes dropdown {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

// HAMBURGER MENU KEYFRAMES

@keyframes exitLeft-0 {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateX(-50px) scale(0.1);
  }
}



@keyframes comeInRight-1 {
  0% {
    opacity: 0;
    transform: translateX(50px) scale(0.1);
  }

  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

// Animations =============================================
// HeaderHeading animations =======================


// HeaderHero Cta animations =======================


// Arrow divider animations =======================

.animated-bounce-delay {
  animation: bounce 2s ease-in-out 2.15s infinite forwards;
}

.animated-bounce-no-delay {
  animation: bounce 2s ease-in-out 0s infinite forwards;
}

.animated-arrow {
  animation: arrow 1s ease-in-out 2.10s backwards
}

// Dropdown animations =======================

.dropdown-menu {
  animation: dropdown .2s ease-in-out;
}

// Mobile hamburger menu animations =======================

.come-in-right {
  animation-name: comeInRight-1;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.exit-left {
  animation-name: exitLeft-0;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}