// Font family
$font-family-base: $font-family;
$headings-font-family: $font-family-headings;

// Font size
$font-size-base: $font-size;
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
  7: 2rem,
  8: 1.5rem,
  9: 1rem,
  10: .5rem
) !default;

$h1-font-size: 9rem;
$h2-font-size: 3.5rem;
$h3-font-size: 2.2rem;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

h1 {
  letter-spacing: -6px;

  @media (min-width: 0px) and (max-width: 768px) {
    letter-spacing: -2px;
    font-size: 4rem;
  };
};

h2 {
  letter-spacing: -3px;

  @media (min-width: 0px) and (max-width: 768px) {
    letter-spacing: -1px;
  };
};

h3 {
  letter-spacing: -2px;

  @media (min-width: 0px) and (max-width: 768px) {
    letter-spacing: -1px;
  };
};

