@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "width": map-merge(
      map-get($utilities, "width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"),
          (
            57: 57%
          ),
        ),
      ),
    ),
  )
);


.u-letter-spacing-1 {
  letter-spacing: -1px;
}

.u-letter-spacing-2 {
  letter-spacing: -2px;
}