<div class="pe-10 ps-10 d-flex flex-column align-items-start justify-content-center mt-5 u-letter-spacing-1 display-8">
  <p>
    Având în vedere modificările aduse prin Ordonanța de urgență a Guvernului nr. 21/2019 Legii nr. 38/2003 privind transportul în regim de taxi și în regim de închiriere, cu modificările și completările ulterioare,
    <br>
    <br>
    luând în considerare apariția pe piață a unor soluții inovative de intermediere a transportului de persoane în regim taxi, generate de progresul tehnologic al societății informaționale,
    <br>
    <br>
    având în vedere că intermedierea serviciilor de transport persoane prin soluții inovative contribuie la creșterea gradului de concurență pe piață și facilitează interacțiunea dintre cerere și ofertă,
    <br>
    <br>
    având în vedere că jurisprudența constantă a Curții Constituționale stabilește că ordonanțele de urgență pot fi adoptate dacă prin reglementările pe care le conțin au consecințe pozitive în domeniile în care intervin și prin adoptarea acestui act normativ nu se „prejudiciază“, nu se „aduce atingere“, nu se „antrenează consecințe negative“,
    <br>
    <br>
    luând în considerare că hotărârea Curții Europene de Justiție a apreciat că activitățile de transport de tip urban desfășurate prin intermediul platformelor digitale sunt asimilate serviciilor de transport și nu serviciilor de comerț online, iar statele membre sunt obligate la adoptarea unor soluții legislative care să asigure reglementarea tuturor operațiunilor de transport de tip urban pentru care se utilizează platforme digitale,
    <br>
    <br>
    pentru asigurarea unui mediu concurențial echilibrat și stabilirea unui regim nediscriminatoriu a modurilor de transport utilizate pentru transportul persoanelor în mediul urban se impune în regim de urgență reglementarea transportului alternativ de persoane, intermediat prin platforme digitale.
  </p>

  <p>
    În considerarea faptului că toate aceste elemente vizează interesul public și constituie situații extraordinare a căror reglementare nu poate fi amânată,
    <br>
    <br>
    în temeiul art. 115 alin. (4) din Constituția României, republicată,
    <br>
    <br>
    Guvernul României adoptă prezenta ordonanță de urgență.
  </p>
</div>