<section class="mt-4">
  <h3 class="h4">
    Articolul 32
  </h3>
  <p>
    (1) Constituie contravenție, dacă potrivit legii penale fapta nu constituie infracțiune, și se sancționează cu amendă de la 3.000 lei la 9.000 lei nerespectarea de către operatorul de transport alternativ a cel puțin uneia dintre obligațiile prevăzute la art. 27 lit. A-E sau G.
  </p>
  <p>
    (2) Constituie contravenție, dacă potrivit legii penale fapta nu constituie infracțiune, și se sancționează cu amendă de la 10.000 lei la 30.000 lei efectuarea transportului alternativ prin intermediul unei platforme digitale neavizate tehnic de către Ministerul Comunicațiilor și Societății Informaționale.
  </p>
</section>
