<section class="mt-4">
  <h3 class="h4">
    Articolul 31
  </h3>
  <p>
    Intermedierea transportului alternativ de către o persoană fizică sau juridică printr-o platformă digitală neavizată tehnic de către Ministerul Comunicațiilor și Societății Informaționale constituie contravenție, dacă potrivit legii penale fapta nu constituie infracțiune, se sancționează cu amendă de la 50.000 lei la 100.000 lei, precum și cu interzicerea desfășurării de activități economice de orice fel pe teritoriul României, prin intermediul unor programe software de sine stătătoare, pentru o perioadă de 2 ani de la data aplicării sancțiunii.
  </p>
</section>