<div class="d-flex justify-content-center align-items-center flex-column">
  <section class="mb-3 text-center text-lg-start card border-0 card-about">
    <div class="card-body">
      <p class="mt-4 card-text u-letter-spacing-1 display-8">
        Nu suntem mai mari sau mai buni ca altii, dar consideram ca suntem printre cei mai corecti din punct de vedere legal si in relatia cu soferii.
      </p>
    </div>
  </section>
  <section 
    *ngFor="let feature of aboutUsFeatures"
    class="mb-3 text-center text-lg-start card border-0 card-about">
    <div class="card-body">
      <h2 class="card-title lh-1 h3 border-bottom border-secondary d-inline">
        {{ feature.heading }}
      </h2>
      <p class="mt-4 card-text u-letter-spacing-1 display-8">
        {{ feature.text }}
      </p>
    </div>
  </section>
</div>

