<article class="mt-3 mb-3"> 
  <h1 class="h2 text-center mb-5">
    Informatii utile
  </h1>
  <div class="container-fluid text-center">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
  <section class="col p-4">
    <h2 class="h3">
      Cum devin sofer partener
    </h2>
    <p>
      Afla cum devii partener
    </p>
    <a routerLink="about">
      Afla mai multe
    </a>
  </section>
  <section class="col p-4">
    <h2 class="h3">
      Totul despre comisione
    </h2>
    <p>
      Comisionele percepute de noi, comisioane fixe si variabile
    </p>
    <a routerLink="about">
      Afla mai multe
    </a>
  </section>
  <section class="col p-4">
    <h2 class="h3">
      Ce este flota de ridesharing
    </h2>
    <p>
      Invata mai multe despre ridesharing
    </p>
    <a routerLink="about">
      Afla mai multe
    </a>
  </section>
  <section class="col p-4">
    <h2 class="h3">
      Registrul de evidenta fiscala
    </h2>
    <p>
      Informatii legale
    </p>
    <a routerLink="about">
      Afla mai multe
    </a>
  </section>
  <section class="col p-4">
    <h2 class="h3">
      Venituri si cheltuieli sofer
    </h2>
    <p>
      Estimati veniturile si cheltuielile chiar inainte de a suna
    </p>
    <a routerLink="about">
      Afla mai multe
    </a>
  </section>
  <section class="col p-4">
    <h2 class="h3">
      Carte de munca sau PFA
    </h2>
    <p>
      Estimati veniturile si cheltuielile chiar inainte de a suna
    </p>
    <a routerLink="about">
      Afla mai multe
    </a>
  </section>
  </div>
  </div>
</article>