<section class="mt-4">
  <h3 class="h4">
    Articolul 2
  </h3>
    <figure>
      <figcaption class="mb-2">
        În sensul prezentei ordonanțe de urgență, termenii și expresiile de mai jos au următoarele semnificații:
      </figcaption>
      <ul class="list-unstyled card">
        <div
          class="list-group list-group-flush"
          *ngFor="let term of art2Terms">
          <div class="list-group-item">
            <span class="text-secondary">
              {{ term.letter }}
            </span>
            <li>
              {{ term.text }}
            </li>
          </div>
        </div>
      </ul>
    </figure>
  </section>
