<div class="text-center d-flex flex-column justify-content-center align-items-center">
	<img 
		src="../../../assets/svg/mail_opened_re_i38e.svg"
		class="contact-svg-size"
		alt="Imagine cu un plic deschis si un document">
		<h3 class="mt-2 mb-2">
			Prin email
		</h3>
		<p class="u-letter-spacing-1 display-8">
			Puteti completa
			<a
				class="d-none d-lg-inline text-primary text-decoration-none change-color-hover ga-4-contact"
				role="button"
				aria-haspopup="dialog"
				(click)="openFormModal(content)"
				>formularul
			</a>
			<a
				class="d-lg-none text-primary text-decoration-none change-color-hover ga-4-contact"
				routerLink="contact"
				>formularul
			</a>
			si vom lua legatura <br> in cel mai scurt timp
		</p>
</div>

<!-- Modal -->
<ng-template #content let-sendEmailModal>
	<div class="modal-header border-0">
		<h1 class="h3 modal-title border-bottom border-secondary">
			Trimiteti un email
		</h1>
		<button 
			type="button" 
			class="btn-close"
			aria-label="Close Modal"
			(click)="sendEmailModal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<app-send-email-form ngbAutofocus (sendEmail)="handleSendEmail($event, sendEmailModal)"></app-send-email-form>
	</div>
</ng-template>
