<div class="u-letter-spacing-1 display-8 d-flex flex-column justify-content-center align-items-center">
  <p>PRIM-MINISTRU</p>
  <p>VASILICA-VIORICA DĂNCILĂ</p>
  <p>Contrasemnează:</p>
  <p>Ministrul transporturilor,</p>
  <p>Alexandru-Răzvan Cuc</p>
  <p>p. Ministrul comunicațiilor și societății informaționale,</p>
  <p>Adrian-Daniel Găvruța</p>
  <p>Viceprim-ministru, ministrul dezvoltării regionale și administrației publice,</p>
  <p>Vasile-Daniel Suciu</p>
  <p>Secretarul general al Guvernului,</p>
  <p>Toni Greblă</p>
  <p>Ministrul afacerilor interne,</p>
  <p>Carmen Daniela Dan</p>
  <p>Ministrul muncii și justiției sociale,</p>
  <p>Marius-Constantin Budăi</p>
  <p>Ministrul finanțelor publice,</p>
  <p>Eugen Orlando Teodorovici</p>
  <p>București, 25 iunie 2019.</p>
  <p>Nr. 49.</p>
</div>

