<article class="text-center text-md-start">
  <div class="information-bg d-flex justify-content-center align-items-center text-white">
    <h1 class="h2 pt-lg-5 pb-lg-5 pt-2 pb-2">
      Venituri, cheltuieli si comisioane
    </h1>
  </div>
  <p class="h4 u-letter-spacing-1 text-center mt-4">
    Veniturile variază în funcție de timpul muncit. Dacă mai aveți un job, contractul se va putea face part-time (4h).
  </p>
  <app-expenditures></app-expenditures>
  <app-commission></app-commission>
  <app-checkout></app-checkout>
  <p class="pe-4 ps-4 pe-md-6 ps-md-6 pe-xl-10 ps-xl-10 mt-5 display-8 u-letter-spacing-1 text-center">
    <strong>Pentru a asigura conformitatea cu reglementările legale și pentru a oferi transparență și siguranță, oferim întotdeauna un contract de muncă cu ore definite (8h sau 4h pentru cei care au un al doilea loc de muncă).</strong>
  </p>
</article>
