<section class="mt-4">
  <h3 class="h4">
    Articolul 33
  </h3>
  <p>
    (1) În cazul săvârșirii contravențiilor prevăzute la art. 34 lit. B și F, odată cu aplicarea sancțiunii contravenționale se suspendă dreptul de utilizare a autoturismului respectiv pentru o perioadă de 6 luni.
  </p>
  <p>
    (2) Suspendarea dreptului de utilizare a autoturismului se realizează prin reținerea certificatului de înmatriculare și a plăcuțelor cu numărul de înmatriculare de către ofițerii și/sau agenții de poliție din cadrul Poliției Române care au calitatea de polițiști rutieri.
  </p>
  <p>
    (3) Plăcuțele cu numărul de înmatriculare împreună cu certificatul de înmatriculare și o copie a proceselor-verbale de constatare a contravenției și de reținere a plăcuțelor cu numărul de înmatriculare și a certificatului de înmatriculare se predau, în termen de maximum 3 zile, inspectoratului județean de poliție, respectiv Direcției Generale de Poliție a Municipiului București, care notifică deținătorului autoturismului faptul că suspendarea dreptului de utilizare a acestuia încetează la 6 luni de la data procesului-verbal de reținere a acestora.
  </p>
  <figure>
    <figcaption class="mb-2">
      (4) Suspendarea notificată a dreptului de utilizare a autoturismului încetează, iar plăcuțele cu numărul de înmatriculare și certificatul de înmatriculare se restituie anticipat, la cerere, dacă sunt îndeplinite cumulativ următoarele condiții:
    </figcaption>
    <ul class="list-unstyled card">
      <div
        class="list-group list-group-flush"
        *ngFor="let item of art33SusRights">
        <div class="list-group-item">
          <span class="text-secondary">
            {{ item.letter }}
          </span>
          <li>
            {{ item.text }}
          </li>
        </div>
      </div>
    </ul>
  </figure>
  <p>
    (5) După epuizarea unui termen notificat de suspendare a dreptului de utilizare a autoturismului, dacă nu se face dovada achitării amenzii contravenționale, se notifică deținătorului prelungirea suspendării pentru încă 6 luni, cu respectarea prevederilor art. 215 din Legea nr. 207/2015 privind Codul de procedură fiscală, cu modificările și completările ulterioare.
  </p>
  <p>
    (6) Dacă în decurs de cel mult 12 luni de la încetarea ultimei suspendări a dreptului de utilizare a autoturismului se aplică o nouă suspendare, nu se mai poate beneficia de reducerea termenului prevăzut la alin. (4) lit. A.
  </p>
  <p>
    (7) Pe perioada suspendării dreptului de utilizare a autoturismului acesta nu poate fi reînmatriculat.
  </p>
</section>