<article class="text-center text-md-start">
  <div>
    <div class="information-bg d-flex justify-content-center align-items-center text-white">
      <h1 class="h2 pt-lg-5 pb-lg-5 pt-2 pb-2">
        OUG 49/2019
      </h1>
    </div>
    <app-sub-title></app-sub-title>
    <app-intro></app-intro>
    <app-chapter-1-home></app-chapter-1-home>
    <app-chapter-2-home></app-chapter-2-home>
    <app-chapter-3-home></app-chapter-3-home>
    <app-chapter-4-home></app-chapter-4-home>
    <app-chapter-5-home></app-chapter-5-home>
    <app-chapter-6-home></app-chapter-6-home>
    <app-chapter-7-home></app-chapter-7-home>
    <app-outro></app-outro>
  </div>
</article>
