<nav class="navbar navbar-expand-md fixed-top justify-content-center">
  <div class="container-fluid me-5 ms-5  justify-content-center">
    <div class="user-select-none">
      <a href="" class="navbar-brand d-flex">
        <img src="../assets/svg/car-sport.svg" class="me-2" alt="Company logo" width="40">
        Logane
      </a>
    </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item me-4">
          <a href="about" class="nav-link btn-link fw-semibold nav-link-transition">Despre noi</a>
        </li>
        <li class="nav-item me-4">
          <a href="info" class="nav-link btn-link fw-semibold">Informatii</a>
        </li>
        <li class="nav-item me-4">
          <a href="contact" class="nav-link btn-link fw-semibold">Contact</a>
        </li>
        <li class="nav-item">
          <a href="tel:0745235622" class="nav-link btn btn-secondary text-bg-primary fw-semibold ps-4 pe-4">Suna acum</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>