<nav class="navbar bg-white navbar-expand-lg justify-content-center align-items-center">
  <div class="container-fluid pe-6 ps-6 justify-content-center">
    <div class="user-select-none">
      <a routerLink="" class="navbar-brand d-flex">
        <img src="../assets/svg/car-sport.svg" class="me-n3 navbar-logo" alt="CPM Company Logo" width="40">
        Logane
      </a>
    </div>
      <button 
        (click)="isMenuCollapsed = !isMenuCollapsed" 
        class="navbar-toggler collapsed border-0 shadow-none d-flex d-lg-none flex-column justify-content-around p-0" 
        type="button"
        id="mobileDropdown"
        data-bs-toggle="collapse" 
        data-bs-target="#navDropdown"
        [ariaExpanded]="isMenuCollapsed"
        aria-label="Toggle Navigation">
        <span 
          [ngClass]="{'top': !isMenuCollapsed}"
          class="toggler-icon"></span>
        <span
          [ngClass]="{'middle': !isMenuCollapsed}"
          class="toggler-icon"></span>
        <span
          [ngClass]="{'bottom': !isMenuCollapsed}"
          class="toggler-icon"></span>
      </button>
    <div
      [ngbCollapse]="isMenuCollapsed" 
      class="collapse navbar-collapse"
      aria-labelledby="mobileDropdown"
      id="navDropdown">
      <ul class="navbar-nav ms-auto align-items-center align-items-lg-stretch">
        <li class="nav-item pe-lg-4 pb-1 pb-lg-0">
          <a 
            [routerLink]="''" 
            (click)="isMenuCollapsed = true" 
            class="nav-link btn-link-nav fw-semibold pe-0 ps-0 pb-1 me-2">Acasa</a>
        </li>
        <li class="nav-item pe-lg-4 pb-1 pb-lg-0">
          <a 
            [routerLink]="'about'" 
            (click)="isMenuCollapsed = true" 
            class="nav-link btn-link-nav fw-semibold pe-0 ps-0 pb-1 me-2">Despre noi</a>
        </li>
        <li class="nav-item pe-lg-4 pb-1 pb-lg-0"> 
          <div 
            (mouseover)="myDrop.open()"
            (mouseleave)="myDrop.close()"
            class="drop d-inline-block d-flex justify-content-center align-items-center flex-column" 
            ngbDropdown 
            #myDrop="ngbDropdown">
            <button
              type="button"
              class="nav-link btn-link-nav fw-semibold pe-0 ps-0 pb-1 me-2"
              id="dropdown"
              ngbDropdownToggle
              (focus)="myDrop.open()">
              Informatii
            </button>
            <ul
              ngbDropdownMenu
              class="dropdown-menu text-center m-auto">
              <li>
                <a
                  ngbDropdownItem
                  [routerLink]="'information'" 
                  (click)="isMenuCollapsed = true" 
                  class="nav-link fw-semibold dropdown-menu-link">Cum devin sofer partener</a>
              </li>
              <li>
                <a 
                  ngbDropdownItem 
                  [routerLink]="'information'" 
                  (click)="isMenuCollapsed = true" 
                  class="nav-link fw-semibold dropdown-menu-link">Comision fix sau variabil</a>
              </li>
              <li>
                <a 
                  ngbDropdownItem 
                  [routerLink]="'information'" 
                  (click)="isMenuCollapsed = true" 
                  class="nav-link fw-semibold dropdown-menu-link">Ce este flota de ridesharing</a>
              </li>
              <li>
                <a 
                  ngbDropdownItem 
                  [routerLink]="'information'" 
                  (click)="isMenuCollapsed = true" 
                  class="nav-link fw-semibold dropdown-menu-link">Registrul de evidenta fiscala</a>
              </li>
              <li>
                <a 
                  ngbDropdownItem 
                  [routerLink]="'information'" 
                  (click)="isMenuCollapsed = true" 
                  class="nav-link fw-semibold dropdown-menu-link">Venituri si cheltuieli sofer</a>
              </li>
              <li>
                <a 
                  ngbDropdownItem 
                  [routerLink]="'information'" 
                  (click)="isMenuCollapsed = true" 
                  class="nav-link fw-semibold dropdown-menu-link">Carte de munca sau PFA</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item pe-lg-4 pb-1 pb-lg-0">
          <a 
            [routerLink]="'contact'" 
            (click)="isMenuCollapsed = true" 
            class="nav-link btn-link-nav fw-semibold pe-0 ps-0 pb-1 me-2">Contact</a>
        </li>
        <li class="nav-item">
          <a 
            href="tel:0745235622" 
            class="nav-link btn btn-secondary text-bg-primary fw-semibold ps-4 pe-4">Suna acum</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="bg-dark text-center text-white">
  <menu class="list-unstyled navbar justify-content-center gap-4 gap-sm-5">
    <li class="nav-item">
      <a class="nav-link btn-link-footer" routerLink="about">
        Despre noi
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn-link-footer" routerLink="information">
        Informatii
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn-link-footer" routerLink="contact">
        Contact
      </a>
    </li>
  </menu>
  <p class="mb-n1 mt-n2 pb-3">
    &copy; Copyright 2024 CPM Rent Solutions. Toate drepturile rezervate.
  </p>
</footer>