<form 
  [formGroup]="form"
  class="bg-white p-sm-3 p-md-4 needs-validation"
  novalidate
  >

  <h2 class="text-center text-md-start h3 mt-2 mb-4 mb-lg-4">Trimiteti un email</h2>

  <div class="row mb-4">
    <div class="col-12 col-lg-6 position-relative">
      <label 
        for="name" 
        class="form-label u-letter-spacing-1 fw-normal">
        Nume complet
      </label>
      <input
        [ngClass]="{ 'is-invalid': attemptSubmit && form.get('name')?.errors }"
        formControlName="name"
        type="text" 
        class="form-control u-letter-spacing-1" 
        placeholder="Pop Adrian" 
        id="name"
        >
        <div 
          *ngIf="attemptSubmit && form.get('name')?.errors"
          class="invalid-feedback position-absolute">
          <div *ngIf="attemptSubmit && form.get('name')?.errors!['required']">
            Campul trebuie completat
          </div>
          <div *ngIf="attemptSubmit && form.get('name')?.errors!['pattern']">
            Campul nu poate contine numere
          </div>
        </div>
    </div>

    <div class="col-12 col-lg-6 position-relative mt-4 mt-lg-0">
      <label 
        for="tel" 
        class="form-label u-letter-spacing-1 fw-normal"
        >Telefon
        </label>
      <input 
        [ngClass]="{ 'is-invalid': attemptSubmit && form.get('tel')?.errors }"
        formControlName="tel"
        type="tel"
        class="form-control u-letter-spacing-1" 
        placeholder="0745-235-622"
        >
      <div 
        *ngIf="attemptSubmit && form.get('tel')?.errors"
        class="invalid-feedback position-absolute">
        <div *ngIf="attemptSubmit && form.get('tel')?.errors!['required']">
          Campul trebuie completat
        </div>
        <div *ngIf="attemptSubmit && form.get('tel')?.errors!['pattern']">
          Campul nu poate contine litere
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4 mb-lg-5">
    <div class="col">
      <label 
        for="email" 
        class="form-label u-letter-spacing-1 fw-normal"
        >Email
        </label>
      <input 
        [ngClass]="{ 'is-invalid': attemptSubmit && form.get('email')?.errors }"
        formControlName="email"
        type="email" 
        class="form-control u-letter-spacing-1" 
        placeholder="popadrian@yahoo.com"
        >
      <div
        *ngIf="attemptSubmit && form.get('email')?.errors"
        class="invalid-feedback position-absolute">
        <div *ngIf="attemptSubmit && form.get('email')?.errors!['required']">
          Campul trebuie completat
        </div>
        <div *ngIf="attemptSubmit && form.get('email')?.errors!['email']">
          Introduceti un email valid
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4 mb-lg-5">
    <div class="col">
      <label 
        for="message" 
        class="form-label u-letter-spacing-1 fw-normal">
        Mesaj
      </label>
      <textarea 
        class="form-control u-letter-spacing-1"
        placeholder="Va contactez cu dorinta de..." 
        rows="5"></textarea>
    </div>
  </div>

  <div class="text-center">
    <button 
      (click)="submitForm()"
      type="submit" 
      class="btn btn-secondary btn-active btn-hover text-bg-primary fw-semibold">Trimite</button>
  </div>

</form>
