<form class="row w-25 d-inline">
  <div class="text-center mb-4">
    <img class="mail-svg-size" src="assets/svg/mail_opened_re_i38e.svg">
    <p class="display-8 u-letter-spacing-1 fw-normal">Raspundem cat se poate de repede</p>
  </div>
  <div class="mb-4">
    <input type="text" class="form-control border border-top-0 border-start-0 border-end-0 rounded-0 bo border-secondary" placeholder="Nume">
  </div>
  <div class="mb-4">
    <input type="text" class="form-control border border-top-0 border-start-0 border-end-0 rounded-0 bo border-secondary" placeholder="Email">
  </div>
  <div class="mb-4">
    <input type="tel" class="form-control border border-top-0 border-start-0 border-end-0 rounded-0 bo border-secondary" placeholder="Numar de telefon">
  </div>
  <div class="mb-4">
    <textarea class="form-control border border-top-0 border-start-0 border-end-0 rounded-0 bo border-secondary" rows="3" cols="10" placeholder="Mesaj"></textarea>
  </div>
  <button class="btn btn-secondary text-bg-primary fw-semibold" type="submit">Trimite</button>
</form>
