.contact-bg {
  background-image: url(../../assets/svg/contact-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;

  @include media-breakpoint-up(lg) {
    height: 32vh;
  }
}

.about-us-bg {
  background-image: url(../../assets/svg/about-us-header-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  
  @include media-breakpoint-up(lg) {
    height: 32vh;
  }
}

.about-us-hero {
  background-image: none;
  background-repeat: no-repeat;
  background-size: contain;
  width: 700px;
  height: 460px;

  @include media-breakpoint-up(lg) {
    background-image: url(../../assets/images/about-us-hero-lg.jpg);
  }

  @include media-breakpoint-up(xl){
    background-image: url(../../assets/images/about-us-hero-xxl.jpg)
  }
}

.hero-bg {
  background-image: url(../../assets/images/home-hero-sm.jpg);
  background-color: rgba(0, 0, 0, .350);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;

  @include media-breakpoint-down(sm){
    height: 70vh;
    background-position: center;
  }
  @include media-breakpoint-up(sm){
    height: 68vh;
    background-image: url(../../assets/images/home-hero-md.jpg);
  }
  @include media-breakpoint-up(lg){
    height: 75vh;
    background-image: url(../../assets/images/home-hero-lg.jpg);
  }
  @include media-breakpoint-up(xl){
    height: 75vh;
    background-image: url(../../assets/images/home-hero-xxl.jpg)
  }
  @media screen and (min-width: 1920px) {
    height: 77vh;
  }
}

.information-bg {
  background-image: linear-gradient(to bottom right, $secondary, $primary);
}