.contact-bg {
  background-image: url(../../assets/svg/contact-header-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;

  @include media-breakpoint-up(lg) {
    height: 32vh;
  }
}

.about-us-bg {
  background-image: url(../../assets/svg//about-header-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  
  @include media-breakpoint-up(lg) {
    height: 32vh;
  }
}

.about-us-img {
  background-image: url(../../assets/images/about-us.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 700px;
  height: 460px;
}

.hero-bg {
  background-image: url(../../assets/images/hero-dark-5616x3744.jpg);
  height: 77vh;
  background-position: center 45%;
  background-size: cover;
  background-repeat: no-repeat;

  @media only screen and (max-width: 1200px) {
    height: 550px;
  }
  @media only screen and (max-width: 576px) {
    height: 450px;
  }
  @media only screen and (max-width: 339px) {
    height: 400px;
    background-position: 75%;
  }
}