.contact-bg {
  background-image: url(../../assets/svg/contact-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;

  @include media-breakpoint-up(lg) {
    height: 32vh;
  }
}

.about-us-bg {
  background-image: url(../../assets/svg/about-us-header-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  
  @include media-breakpoint-up(lg) {
    height: 32vh;
  }
}

.about-us-img {
  background-image: url(../../assets/images/nordwood-themes-kRNZiGKtz48-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 700px;
  height: 460px;
}

.hero-bg {
  background-image: url(../../assets/images/testhader2.jpg);
  height: 77vh;
  background-color: rgba(0, 0, 0, .350);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;

  @media only screen and (max-width: 1200px) {
    height: 550px;
  }
  @media only screen and (max-width: 576px) {
    height: 450px;
  }
  @media only screen and (max-width: 339px) {
    height: 400px;
    
  }
}