.header {
  background-image: url(../../assets/images/hero-dark-5616x3744.jpg);
  height: 50vh;
  background-position: center 45%;
  background-size: cover;
  background-repeat: no-repeat;

  @include media-breakpoint-up(lg) { 
    height: 77vh;
  }
}