$navbar-padding-y: $nav-padding-y;
$navbar-brand-font-size: $nav-brand-font-size;
$navbar-nav-link-padding-x: $nav-nav-link-padding-x;
$navbar-toggler-border-radius: $nav-toggler-border-radius;
$nav-link-transition: $nav-transition;

nav.navbar > div > div > ul > li > a:hover,
nav.navbar > div > div > ul > li > div > button:hover {
  color: $grey;
}

nav.navbar > div > div > ul > li > a:focus,
nav.navbar > div > div > ul > li > div > button:focus {
  color: $grey;
}

.navbar-logo {
  height: 48px;
  width: 100px;
}

.navbar-toggler,
.close-icon-container,
.menu-toggler-container {
  width: 35px;
  height: 35px;
  position: relative;
}

.icon-toggler {
  width: 100%;
  height: 2px;
  background-color: black;
  display: block;
}

.close-icon {
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  left: 0;
  background-color: black;
  
  &-1 {
    transform: rotate(45deg);
  }

  &-2 {
    transform: rotate(-45deg);
  }
}

.navbar {
  min-height: 7vh;
}

