$navbar-padding-y: $nav-padding-y;
$navbar-brand-font-size: $nav-brand-font-size;
$navbar-nav-link-padding-x: $nav-nav-link-padding-x;
$navbar-toggler-border-radius: $nav-toggler-border-radius;
$nav-link-transition: $nav-transition;

.navbar-logo {
  height: 48px;
  width: 100px;
}

.navbar-toggler {
  width: 35px;
  height: 35px;
  position: relative;
  transition: .5s ease-in-out;
  
}

.toggler-icon {
  width: 35px;
  height: 2px;
  background-color: black;
  display: block;
  transition: all .2s ease-in-out;
  transform-style: preserve-3d;
}

.top {
  transform-origin: left;
  transform: rotate(45deg);
}

.middle {
  opacity: 0;
}

.bottom {
  transform-origin: left;
  transform: rotate(-45deg);
}