$navbar-padding-y: $nav-padding-y;
$navbar-brand-font-size: $nav-brand-font-size;
$navbar-nav-link-padding-x: $nav-nav-link-padding-x;
$navbar-toggler-border-radius: $nav-toggler-border-radius;

.navbar-logo {
  height: 48px;
  width: 100px;
}

