<section class="mt-4">
  <h3 class="h4">
    Articolul 35
  </h3>
  <p>
    (1) Constatarea contravențiilor și aplicarea sancțiunilor prevăzute la art. 30-32 se realizează de către persoanele împuternicite din cadrul instituțiilor prevăzute la art. 29 alin. (1) lit. A, B, C, E și F.
  </p>
  <p>
    (2) Constatarea contravențiilor și aplicarea sancțiunilor prevăzute la art. 34 se realizează de către persoanele împuternicite din cadrul instituțiilor prevăzute la art. 29 alin. (1) lit. B și D, după caz.
  </p>
  <p>
    (3) Contravențiilor prevăzute la art. 30-34 le sunt aplicabile dispozițiile Ordonanței Guvernului nr. 2/2001 privind regimul juridic al contravențiilor, aprobată cu modificări și completări prin Legea nr. 180/2002, cu modificările și completările ulterioare. Autoritățile publice din care fac parte agenții constatatori au acces gratuit la platformele digitale autorizate pentru verificarea respectării prevederilor prezentei ordonanțe de urgență.
  </p>
</section>
