<section class="mt-4">
  <h3 class="h4">
    Articolul 18
  </h3>
  <p>
    (1) În scopul probării drepturilor și obligațiilor fiecăreia dintre părți, operatorul de transport alternativ și operatorul platformei digitale încheie un contract de afiliere ce va conține termenii și condițiile colaborării lor.
  </p>
  <p>
    (2) Contractul de afiliere dintre operatorul de transport alternativ și operatorul platformei digitale se încheie prin intermediul platformei digitale, prin confirmarea de către operatorul de transport alternativ a acceptării termenilor și condițiilor contractuale afișate pe platforma digitală.
  </p>
  <p>
    (3) Conținutul termenilor și condițiilor din contract, precum și dovada acceptării acestora de către operatorul de transport alternativ sunt tipărite de către acesta prin intermediul platformei digitale în scopul probării în fața agenției teritoriale a Autorității Rutiere Române - A.R.R. a relațiilor sale contractuale cu operatorul platformei digitale, în vederea eliberării ecusoanelor pentru transport alternativ.
  </p>
</section>
