<section class="mt-4">
  <h3 class="h4">
    Articolul 22
  </h3>
  <figure>
    <figcaption class="mb-2">
      (1) În trafic, pe durata efectuării curselor de transport alternativ, autoturismele înregistrate pe platforma digitală vor avea afișat la vedere, în partea din față și din spate a autoturismului, un ecuson pentru transport alternativ cu dimensiunea de 10 cm x 10 cm, ce va conține următoarele elemente:
    </figcaption>
    <ul class="list-unstyled card">
      <div
        class="list-group list-group-flush"
        *ngFor="let req of art22Stickers">
        <div class="list-group-item">
          <span class="text-secondary">
            {{ req.letter }}
          </span>
          <li>
            {{ req.text }}
          </li>
        </div>
      </div>
    </ul>
  </figure>
  <p>
    (2) Ecusonul pentru transport alternativ prevăzut la alin. (1) se eliberează de către agenția teritorială a Autorității Rutiere Române - A.R.R., cu plata tarifului aferent achitat în contul acesteia, pentru fiecare autoturism pentru care a fost emisă în prealabil copia conformă a autorizației pentru transportul alternativ, după prezentarea de către operatorul de transport alternativ a unui contract de afiliere încheiat cu cel puțin un operator al unei platforme digitale
  </p>
  <p>
    (3) Ecusonul pentru transport alternativ dă dreptul operatorului de transport alternativ să utilizeze autoturismul astfel identificat și să efectueze transport alternativ în condițiile prevăzute la art. 13 alin. (4).
  </p>
  <p>
    (4) Tariful pentru eliberarea ecusonului pentru transport alternativ este de 8 lei/2 bucăți.
  </p>
  <p>
    (5) Operatorul platformei digitale ține un registru al tuturor ecusoanelor pentru transport alternativ emise pentru efectuarea transportului alternativ pe platforma sa digitală, cu identificarea, pentru fiecare ecuson, a conducătorului auto și a autoturismului pentru care a fost emis.
  </p>
</section>
