
<form 
  [formGroup]="form"
  class="needs-validation"
  novalidate
  aria-label="Contact Form"
  >

  <div class="row mb-4">
    <div class="col-12 col-lg-6 position-relative">
      <label 
        for="name" 
        class="form-label u-letter-spacing-1 fw-normal">
        Nume complet
      </label>
      <input
        autocomplete="name"
        aria-autocomplete="list"
        aria-required="true"
        [ngClass]="{ 'is-invalid': attemptSubmit && name?.errors }"
        formControlName="name"
        type="text" 
        class="form-control u-letter-spacing-1" 
        placeholder="Pop Adrian" 
        id="name"
        >
        <div 
          *ngIf="attemptSubmit && name?.errors"
          class="invalid-feedback position-absolute">
          <div 
            *ngIf="attemptSubmit && name?.errors!['required']"
            aria-live="polite">
            Campul trebuie completat
          </div>
          <div
            *ngIf="attemptSubmit && name?.errors!['pattern']"
            aria-live="polite">
            Campul nu poate contine numere
          </div>
        </div>
    </div>

    <div class="col-12 col-lg-6 position-relative mt-4 mt-lg-0">
      <label 
        for="tel" 
        class="form-label u-letter-spacing-1 fw-normal"
        >Telefon
        </label>
      <input 
        autocomplete="tel-local"
        aria-autocomplete="list"
        aria-required="true"
        [ngClass]="{ 'is-invalid': attemptSubmit && tel?.errors }"
        formControlName="tel"
        type="tel"
        class="form-control u-letter-spacing-1" 
        placeholder="0745-235-622"
        id="tel"
        >
      <div 
        *ngIf="attemptSubmit && tel?.errors"
        class="invalid-feedback position-absolute">
        <div *ngIf="attemptSubmit && tel?.errors!['required']">
          Campul trebuie completat
        </div>
        <div *ngIf="attemptSubmit && tel?.errors!['pattern']">
          Campul nu poate contine litere
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4 mb-lg-5">
    <div class="col">
      <label 
        for="email" 
        class="form-label u-letter-spacing-1 fw-normal"
        >Email
        </label>
      <input 
        autocomplete="email"
        aria-autocomplete="list"
        aria-required="true"
        [ngClass]="{ 'is-invalid': attemptSubmit && email?.errors }"
        formControlName="email"
        type="email" 
        class="form-control u-letter-spacing-1" 
        placeholder="popadrian@yahoo.com"
        id="email"
        >
      <div
        *ngIf="attemptSubmit && email?.errors"
        class="invalid-feedback position-absolute">
        <div *ngIf="attemptSubmit && email?.errors!['required']">
          Campul trebuie completat
        </div>
        <div *ngIf="attemptSubmit && email?.errors!['email']">
          Introduceti un email valid
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4 mb-lg-5">
    <div class="col">
      <label 
        for="message" 
        class="form-label u-letter-spacing-1 fw-normal">
        Mesaj
      </label>
      <textarea 
        class="form-control u-letter-spacing-1"
        placeholder="Va contactez cu dorinta de..." 
        id="message"
        rows="5"></textarea>
    </div>
  </div>

  <div class="text-center">
    <button 
      (click)="submitForm()"
      type="submit" 
      aria-label="Send Email"
      class="btn btn-secondary btn-active btn-hover text-bg-primary fw-semibold">Trimite</button>
  </div>

</form>