<section class="mt-4">
  <h3 class="h4">
    Articolul 20
  </h3>
  <p>
    (1) Autoturismele care efectuează transport alternativ se vor conforma normelor prevăzute de Ordonanța de urgență a Guvernului nr. 195/2002 privind circulația pe drumurile publice, republicată, cu modificările și completările ulterioare.
  </p>
  <p>
    (2) Autoturismele care efectuează transport alternativ nu beneficiază de facilitățile de trafic aferente serviciilor publice de transport local.
  </p>
  <p>
    (3) Pasagerii sunt preluați și coboară în locurile unde este permisă oprirea autovehiculelor conform Ordonanței de urgență a Guvernului nr. 195/2002, republicată, cu modificările și completările ulterioare.
  </p>
</section>
