<section class="mt-4">
  <h3 class="h4">
    Articolul 29
  </h3>
  <figure>
    <figcaption class="mb-2">
      (1) Controlul respectării prevederilor prezentei ordonanțe de urgență este asigurat de către:
    </figcaption>
    <ul class="list-unstyled card">
      <div
        class="list-group list-group-flush"
        *ngFor="let item of art29Compliance">
        <div class="list-group-item">
          <span class="text-secondary">
            {{ item.letter }}
          </span>
          <li>
            {{ item.text }}
          </li>
        </div>
      </div>
    </ul>
  </figure>
  <p>
    (2) În traficul rutier, controlul transportului alternativ se efectuează de către reprezentanții autorităților menționate la alin. (1) lit. B-D.
  </p>
  <p>
    (3) La sediul operatorului platformei digitale ori al sucursalei operatorului nerezident al platformei digitale din România și/sau al operatorului de transport alternativ, controlul transportului alternativ se efectuează de către reprezentanții autorităților menționate la alin. (1) lit. A-C, E și F.
  </p>
</section>
