<article class="text-center text-md-start">
  <div>
    <div class="information-bg d-flex justify-content-center align-items-center text-white">
      <h1 class="h2 pt-lg-5 pb-lg-5 pt-2 pb-2">
        Îți dorești să devii șofer Uber/Bolt?
      </h1>
    </div>
  
    <article>
      <h2 class="h3 pe-2 ps-2 pe-md-6 ps-md-6 pe-xl-9 ps-xl-9 mt-5">
        Pentru a deveni șofer Uber/Bolt, trebuie să îndeplinești următoarele criterii:
      </h2>

      <div class="pe-4 ps-4 pe-md-6 ps-md-6 pe-xl-10 ps-xl-10 mt-5 display-8 u-letter-spacing-1">
        <ul class="list-unstyled">
          <div
            class="d-flex align-items-center justify-content-start mt-4"
            *ngFor="let req of driverRequirements">
            <span class="driver-req-number text-white position-relative me-4">
              {{ req.number }}
            </span>
            <li class="text-start">
              {{ req.text }}
            </li>
          </div>
        </ul>
      </div>
    </article>

    <h2 class="h3 pe-2 ps-2 pe-md-6 ps-md-6 pe-xl-9 ps-xl-9 mt-5 mb-5">
      Daca indeplinești condițiile de mai sus completează formularul și te vom contacta în cel mai scurt timp posibil.
    </h2>
  
    <div class="text-start container-fluid mb-4 p-4 pe-md-6 ps-md-6 pe-xl-9 ps-xl-9">
      <app-send-email-form></app-send-email-form>
    </div>
    
  </div>
</article>

