<section class="bg-white mt-2">
  <address class="u-letter-spacing-1 display-8">
    <div class="container-fluid">
      <div class="d-flex flex-column">
      <div class="mb-3 contact-email d-flex align-items-center gap-3">
        <img 
          alt="Imagine cu un ceas"
          src="assets/svg/time.svg">
        9:00 - 18:00
      </div>
      <div class="mt-3 mt-lg-0 contact-location d-flex align-items-center gap-3">
        <img 
          alt="Imagine cu un mail"
          src="assets/svg/contact-mail.svg">
        c.p.m-rent-solutions@inchiriere-colaborare-ridesharing.ro
      </div>
      <div class="mt-3 d-flex align-items-center gap-3">
        <img 
          alt="Imagine cu semnul de locatie"
          src="assets/svg/location.svg">
        Strada Gheorghe Lupu, nr. 22-35
      </div>
      </div>
    </div>
  </address>
</section>


