<section class="mt-4">
  <h3 class="h4">
    Articolul 36
  </h3>
  <p>
    (1) În termen de 35 de zile de la data intrării în vigoare a prezentei ordonanțe de urgență, Ministerul Comunicațiilor și Societății Informaționale va aproba și va publica în Monitorul Oficial al României, Partea I, ordinele prevăzute la art. 8 și 10 din prezenta ordonanță de urgență.
  </p>
  <p>
    (2) În termen de 35 de zile de la data intrării în vigoare a prezentei ordonanțe de urgență, Autoritatea Rutieră Română - A.R.R. va aproba și va publica pe site-ul propriu modelele documentelor necesare îndeplinirii atribuțiilor ce îi revin potrivit prezentei ordonanțe de urgență.
  </p>
</section>
