<section class="mt-4">
  <h3 class="h4">
    Articolul 9
  </h3>
  <p>
    Ministerul Comunicațiilor și Societății Informaționale va emite avizul tehnic pentru platforma digitală în termen de 30 de zile lucrătoare de la depunerea documentației complete.
  </p>
  <p>
    Avizul tehnic pentru platformele digitale va avea o valabilitate de 24 de luni.
    <br>
    (la 10-11-2019, Alineatul (2) din Articolul 9 , Capitolul II a fost modificat de Punctul 2, ARTICOLUL UNIC din LEGEA nr. 204 din 7 noiembrie 2019, publicată în MONITORUL OFICIAL nr. 901 din 07 noiembrie 2019 )
  </p>
  <p>
    Ministerul Comunicațiilor și Societății Informaționale eliberează avizul tehnic pentru platforma digitală după ce operatorul acesteia prezintă dovada achitării taxei anuale stabilite la art. 25 lit.
  </p>
  <p>
    Ministerul Comunicațiilor și Societății Informaționale publică, pe site-ul propriu, lista platformelor digitale avizate tehnic și operatorii acestora, pe care o actualizează ori de câte ori este necesar.
  </p>
</section>
