<section class="mt-4">
  <h3 class="h4">
    Articolul 19
  </h3>
  <figure>
    <figcaption class="mb-2">
      Autoturismele cu care se efectuează transport alternativ trebuie să îndeplinească următoarele condiții:
    </figcaption>
    <ul class="list-unstyled card">
      <div
        class="list-group list-group-flush"
        *ngFor="let req of art19Req">
        <div class="list-group-item">
          <span class="text-secondary">
            {{ req.letter }}
          </span>
          <li>
            {{ req.text }}
          </li>
        </div>
      </div>
    </ul>
  </figure>
</section>
