<section class="mt-4">
  <h3 class="h4">
    Articolul 26
  </h3>
  <p>
    La solicitarea autorităților cu atribuții în domeniu, prevăzute de prezenta ordonanță de urgență, operatorul platformei digitale sau sucursala operatorului nerezident al platformei digitale, după caz, va pune la dispoziția acestora toate informațiile cerute pe care le deține în legătură cu desfășurarea activității de către operatorii de transport alternativ prin intermediul platformei digitale. Punerea la dispoziție a acestor informații se realizează în conformitate cu dispozițiile legale în vigoare.
  </p>
</section>
