<section class="mt-4">
  <h3 class="h4">
    Articolul 21
  </h3>
  <p>
    (1) Toate veniturile obținute în urma efectuării de transport alternativ sunt impozitate în conformitate cu legislația fiscală în vigoare în România.
  </p>
  <p>
    (2) În cazul în care se încasează direct de la pasager, integral sau parțial, cu numerar sau prin utilizarea cardurilor de credit/debit sau a substitutelor de numerar, contravaloarea serviciului prestat, operatorul de transport alternativ are obligația de a utiliza aparat de marcat electronic fiscal, în conformitate cu dispozițiile Ordonanței de urgență a Guvernului nr. 28/1999 privind obligația operatorilor economici de a utiliza aparate de marcat electronice fiscale, republicată, cu modificările și completările ulterioare, de a emite și înmâna bon fiscal pasagerului, precum și de a emite factură la solicitarea acestuia.
  </p>
  <p>
    (3) În cazul serviciilor de transport alternativ pentru care plata se realizează exclusiv online prin intermediul platformei digitale prin debitarea contului pasagerului cu suma reprezentând contravaloarea cursei respective, este obligatorie emiterea unei facturi electronice către pasager, conform art. 319 din Legea nr. 227/2015 privind Codul fiscal, cu modificările și completările ulterioare, prin intermediul platformei digitale.
  </p>
</section>
