<div class="mb-4 mb-lg-0">
  <h2 class="h3 border-bottom border-tertiary d-inline-block">
    Informatii generale
  </h2>
  <menu class="navbar flex-column list-unstyled mb-0 mt-0">
    <li 
      class="mb-1">
      <a
        class="nav-link pe-0 ps-0 pb-1 text-white text-decoration-none d-inline-block btn-link-footer ga-4-despre-noi"
        routerLink="despre-noi">
        Despre noi
      </a>
      <a
        class="nav-link pe-0 ps-0 pb-1 text-white text-decoration-none btn-link-footer ga-4-info"
        routerLink="informatii/venituri-cheltuieli-comisioane">
        Venituri, cheltuieli si comisioane
      </a>
      <a
        class="nav-link pe-0 ps-0 pb-1 text-white text-decoration-none d-inline-block btn-link-footer ga-4-info"
        routerLink="informatii/ce-oferim">
        Ce oferim
      </a>
    </li>
  </menu>
</div>