<nav class="navbar bg-white navbar-expand-lg justify-content-center align-items-center">
  <div class="container-fluid pe-lg-6 ps-lg-6 pe-1 ps-1 align-items-center justify-content-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="user-select-none mb-2 mb-lg-0">
        <a 
          routerLink="" 
          class="navbar-brand d-flex p-0 ga-4-acasa">
          <!-- <img src="../assets/svg/car-sport.svg" class="me-n3 navbar-logo" alt="CPM Company Logo" width="40"> -->
          <img src="../assets/images/cpmlogo.png" class="me-n3 navbar-logo custom-logo" alt="CPM Company Logo">
        </a>
      </div>
      <button
        (click)="toggleCollapse()"
        class="preload top-drop position-relative navbar-toggler border-0 shadow-none d-flex d-lg-none flex-column align-items-center justify-content-around p-0" 
        type="button"
        id="mobileDropdown"
        data-bs-toggle="collapse"
        data-bs-target="#navDropdown"
        [attr.aria-expanded]="!isMenuCollapsed"
        aria-label="Toggle Navigation">
        <div
          [ngClass]="{'exit-left': !isMenuCollapsed && userOpenedMenu, 'come-in-right': isMenuCollapsed && userOpenedMenu}"
          id="open-icon-container"
          class="position-absolute menu-toggler-container d-flex flex-column justify-content-around align-items-center">
          <span 
            class="icon-toggler">
          </span>
          <span 
            class="icon-toggler">
          </span>
          <span 
            class="icon-toggler">
          </span>
        </div>
        <div
          [ngClass]="{'exit-left': isMenuCollapsed, 'come-in-right': !isMenuCollapsed, 'opacity-0': !userOpenedMenu}"
          id="close-icon-container"
          class="position-absolute d-flex flex-column justify-content-around align-items-center close-icon-container">
          <span
            class="close-icon close-icon-1">
          </span>
          <span
            class="close-icon close-icon-2">
          </span>
        </div>
      </button>
      </div>
    <div
      [ngbCollapse]="isMenuCollapsed" 
      class="collapse navbar-collapse"
      aria-labelledby="mobileDropdown"
      id="navDropdown">
      <ul class="navbar-nav ms-auto align-items-center align-items-lg-stretch">
        <li 
          class="nav-item pe-lg-4 pb-1 pb-lg-0">
          <a 
            (click)="onClickMenuItem()"
            [routerLink]="''" 
            class="nav-link btn-link-nav pe-0 ps-0 pb-1 me-2 text-black ga-4-acasa">Acasa</a>
        </li>
        <li 
          class="nav-item pe-lg-4 pb-1 pb-lg-0">
          <a 
            (click)="onClickMenuItem()"
            [routerLink]="'despre-noi'"
            class="nav-link btn-link-nav pe-0 ps-0 pb-1 me-2 text-black ga-4-despre-noi">Despre noi</a>
        </li>
        <li class="nav-item pe-lg-4 pb-1 pb-lg-0">
          <div 
            class="d-inline-block d-flex justify-content-center align-items-center flex-column" 
            ngbDropdown 
            #myDrop="ngbDropdown"
            (mouseover)="myDrop.open()"
            (mouseleave)="myDrop.close()"
            >
            <!-- Big screen button -->
            <button
              type="button"
              class="caret-off btn-link-nav nav-link btn-link-nav pe-0 ps-0 pb-1 me-2 text-black d-none d-lg-block"
              id="dropdown"
              ngbDropdownAnchor
              (focus)="myDrop.open()">
              <div class="d-flex justify-content-center align-items-center gap-1">
                Informatii
                <img 
                  [ngClass]="{ 'chevron-down-rotate': myDrop.isOpen() }"
                  class="chevron-down-size"
                  src="assets/svg/chevron-down.svg"
                  alt="Chevron pointing down">
              </div>
            </button>

            <!-- Mobile button -->
          <!-- <button
            type="button"
            class="caret-off btn-link-nav nav-link pe-0 ps-0 pb-1 me-2 text-black d-lg-none"
            id="dropdown"
            ngbDropdownToggle
            (focus)="myDrop.open()">
            <div class="d-flex justify-content-center align-items-center gap-1">
              Informatii
              <img 
                [ngClass]="{ 'chevron-down-rotate': myDrop.isOpen() }"
                class="chevron-down-size"
                src="assets/svg/chevron-down.svg"
                alt="Chevron pointing down">
            </div>
          </button> -->

          <button 
            class="caret-off btn-link-nav nav-link pe-0 ps-0 pb-1 me-2 text-black d-lg-none"
            (click)="mobileInfoCollapse()"
            type="button"
            aria-label="Toggle Information Navigation"
            [attr.aria-expanded]="!infoCollapse">
            Informatii
            <img
              [ngClass]="{ 'chevron-down-rotate': infoCollapse }"
              class="chevron-down-size"
              src="assets/svg/chevron-down.svg"
              alt="Chevron pointing down">
          </button>
          <ul 
            [ngbCollapse]="infoCollapse"
            class="text-center m-auto list-unstyled">
            <li
              *ngFor="let dropItem of dropdownItems">
              <a 
                routerLink="{{ dropItem.link }}"
                (click)="onClickMenuItem()"
                class="nav-link dropdown-menu-link text-black ga-4-info">
                {{ dropItem.name }}
              </a>
            </li>
          </ul>


            <!-- <ul
              ngbDropdownMenu
              class="dropdown-menu text-center m-auto">
              <li
                *ngFor="let dropItem of dropdownItems">
                <a
                  ngbDropdownItem
                  (click)="onClickMenuItem()"
                  routerLink="{{dropItem.link}}"
                  class="nav-link dropdown-menu-link text-black ga-4-info">{{ dropItem.name }}</a>
              </li>
            </ul> -->
          </div>
        </li>
        <li
          class="nav-item pe-lg-4 pb-1 pb-lg-0">
          <a 
            (click)="onClickMenuItem()"
            [routerLink]="'contact'"  
            class="nav-link btn-link-nav pe-0 ps-0 pb-1 me-2 text-black ga-4-contact">Contact</a>
        </li>
        <li class="nav-item">
          <a 
            href="tel:{{tel}}" 
            class="nav-link btn btn-secondary text-bg-primary ps-2 pe-2 ps-sm-4 pe-sm-4 ga-4-tel">Suna acum</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
